@import '@fontsource/roboto-mono/400.css';
@import '@fontsource/roboto-mono/600.css';
@import 'lib/scss/breakpoints';
@import 'lib/scss/custom-scrollbar';
@import 'lib/scss/highlight-theme-nord';

:root {
  /* Base colors */
  --color-black: #1e2530;
  --color-mid-grey: #617590;
  --color-light-grey: #f0f0f0;
  --color-white: #ffffff;
  --color-blue: #4773b5;
  --color-blue-light: #739bd7;

  --page-padding: 2.4rem;
  --page-width-narrow: 98rem;

  /* Theme */
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-light-grey);
  --color-foreground-primary: var(--color-black);
  --color-foreground-secondary: var(--color-mid-grey);
  --color-foreground-action: var(--color-blue);
  --color-foreground-active: var(--color-blue-light);

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --transition-duration: 150ms;

  --font-family-mono: 'Roboto Mono', monospace;

  font-family: var(--font-family-mono);
}

/* Tablet */
@media (min-width: 480px) {
  :root {
    --page-padding: 4.8rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  :root {
    --page-padding: 9rem;
  }
}

@media print {
  a {
    color: var(--color-foreground-primary) !important;
    font-weight: inherit !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  color: var(--color-foreground-primary);
}

#root {
  display: flex;
  align-self: stretch;
  flex: 1 0 auto;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
p {
  font-weight: var(--font-weight-normal);
  letter-spacing: -0.02em;
}

p {
  line-height: 2;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.6rem;
}

a {
  font-weight: var(--font-weight-normal);
  color: var(--color-foreground-action);
  text-decoration: none;
  transition: color var(--transition-duration);
  letter-spacing: -0.02em;

  &:hover {
    color: var(--color-foreground-active);
  }
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  margin: 0.75em 0;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.7rem;
}

p {
  letter-spacing: -0.02em;
  font-size: 1.7rem;
  margin: 1em 0;
}

ul,
ol {
  line-height: 2em;
  padding-left: 1.5em;
  counter-reset: list;
}

ul > li {
  list-style: none;
  counter-increment: list;
  &::before {
    content: '*';
    margin-right: 1em;
  }
}

ol > li {
  list-style: none;
  counter-increment: list;
  &::before {
    content: counter(list) '.';
    margin-right: 0.5em;
  }
}

pre {
  display: block;
  padding: 2rem var(--page-padding);
  margin: 2em calc(var(--page-padding) * -1);
  line-height: 1.5;
  background: var(--color-foreground-primary);
  color: var(--color-background-primary);
  overflow: auto;
  font-size: inherit;
  font-family: var(--font-family-mono);

  @include custom-scrollbar(
    var(--color-foreground-primary),
    var(--color-foreground-secondary)
  );

  @media ($fromM) {
    border-radius: 0.5rem;
    padding: 2rem 2.5rem;
    margin: 4rem -2.5rem;
  }

  code {
    display: inline;
    padding: 0;
    line-height: 1.5;
  }
}

code {
  display: inline-block;
  background: var(--color-foreground-primary);
  color: var(--color-background-primary);
  border-radius: 0.5rem;
  padding: 0.25em 0.5em;
  line-height: 1;
}

hr {
  border-color: var(--color-foreground-secondary);
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 2rem 0;
}

table {
  text-align: left;
  border-spacing: 0;
  border-left: 1px solid var(--color-foreground-secondary);
  border-top: 1px solid var(--color-foreground-secondary);

  th,
  td {
    padding: 0.25em 0.5em;
    border-right: 1px solid var(--color-foreground-secondary);
    border-bottom: 1px solid var(--color-foreground-secondary);
  }
}
